body{
    margin: 0;
    padding: 0;
    /* background-color: #21D4FD; */
    /* background-image: linear-gradient(34deg, #21D4FD 0%, #B721FF 100%); */
    background-image: url(bg2.png);
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    width: 100vw;
}
.weather{
    height: 80vh;
    width: 40vw;
    background-color:aqua;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 8px 10px 43px -12px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 10px 43px -12px rgba(0,0,0,1);
    -moz-box-shadow: 8px 10px 43px -12px rgba(0,0,0,1);
    border: 1px solid rgba(250, 230, 230, 0.11);
    padding-left: 5%;
    padding-right: 5%;
}
.weatherInfo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.75rem;
    /* text-shadow: 8px; */
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    color: rgb(236, 206, 206);
    margin: 3% 0;
}
@media (max-width: 480px) {
    .container {
        align-items:flex-start;
        justify-content:center;
    }
    .weather{
        width: 70vw;
        height: 80vh;
        backdrop-filter: blur(7.25px);
        border-radius: 40px;
        margin-top: 5vh;
    }
    .weatherInfo{
        font-size: 1.50rem;
        font-weight: 400;
        margin: 13.5px 0;
        text-align: center;
        text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);
    }
}